<h1>This is the home page!!!!</h1>

<p>Using Javascript---- <%= 5 + 5 %></p>

<img src="https://assets.architecturaldigest.in/photos/60083e76274aca243711c3a4/16:9/w_2560%2Cc_limit/ghaziabad-uttar-pradesh-homes-photos-1366x768.jpg"></img>